<!DOCTYPE html>
<html>
<head>
  <title>Subreddit Recommendation System</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">


  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  <link rel= "stylesheet" type= "text/css" href= "static/style.css">
  

</head>
<body id="content" style="font-family: 'Noto Sans JP', sans-serif;">

<h1 style="text-align: center;" >Sorry! The sub you requested is not in our database. 
    Please check the spelling or try with other subs!</h1>

    <button onclick="location.href = '/home';" class="btn btn-primary btn-block subreddit-button" style="background-color: #e50914;text-align: center;border-color: #e50914;width:120px; border-radius:5px;">Home 
    </button>


  




</body>
</html>